/* Reset */

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-Regular.ttf'); /* IE9 Compat Modes */
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


html,body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background: #fff url(../images/bg.jpg) center top no-repeat;
  /*background-size: cover;*/
  height: 100%;
  width: auto;
}


#wrapper{
max-width: 90%;
width: 940px;
margin: 0 auto;
}

.main{
max-width: 100%;
width: 940px;
float: left;
}

.header, .content, .bottom, .sep2{
width: 100%;
float: left;
}

.header{
	margin-top: 160px;
	margin-bottom: 40px;
}


h1{
font-family: 'Quicksand', sans-serif;
color: #fff;
text-align: center;
font-size: 50px;
/*font-weight: 300;*/
margin: 0 0 10px 0;
}


h1 strong{
font-size: 38px;
/*font-weight: 700;*/
}

h2{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
		color: #ffffff;

}

h2 strong{
	font-weight: 700;
	font-style: italic;
}


.information{
width: 480px;
padding-top: 35px;
margin: 0 auto;
}

h3{
font-size: 28px;
font-weight: 600;
color: #ffffff;
}

.information p{
font-size: 16px;
color: #ffffff;
display: block;
}

.form{
position: relative;
width: 478px;
margin-top: 20px;
}

.field{
background: url(../images/field.png) repeat;
width: 448px;
/*-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;*/
border: none;
font-style: italic;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #ffffff;
padding: 15px;
margin-bottom: 15px;
outline: none;
}
	.field:focus {
	border: 1px solid #ffffff;
	padding: 14px;
	}
@media only screen and (max-width: 480px)  {
	.information{
	width: 100%;
	}
	.form{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	}

	.field {
	width: 90%;
	}
}

.submit{
  position: absolute;
  right: 15px;
  top: 13px;
  padding: 3px 10px;
  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
  background: #ffffff;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}


.submit:hover{
background: #eeeeee;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

a:visited,
a:hover {
  color: #7EB6FF;
}
