doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="author" content="Grupo Sirius")
    meta(name="author" content="JeongHoon Byun (aka Outsider)")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Roboto:300", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          h1
            p Grupo de Investigación Sirius
          h2 #{__('HEADER', community)}
        .content
          .information
            form(method="POST", action="invite")#join-form.form
              input(type="email", name="email", placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
              input(type="submit", value="Join").submit
    script.
      const tokenRequired = #{tokenRequired},
        form = document.getElementById('join-form'),
        email = document.getElementById('slack-email'),
        token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
