doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Roboto:300", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          h1
            p Grupo de Investigación Sirius
          h2(class="#{isFailed?'error':''}") !{message}
